*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F6;
    padding: 0px 30px 0px 30px;
    height: 80px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0px 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
nav img{
    height: 40px;
    margin-right: 330px;
}
.sing-icon-container a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.sing-icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-number{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
 
}
.nav-number{
    background-color: red;
    width: 20px;
    height: 20px;
    line-height: 1.5;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 15px;
    

}
.nav-icon i{
    font-size: 20px;
    margin-bottom: 10px;
}
#click{
    display: none;
}
.mune{
    font-size: 20px;
    display: none;  
}
/* First section start here */
.first-section{
    margin: 0px 250px;
    padding-bottom: 50px;
}
.text-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 50px 0px;
}
.text h2{
    font-size: 60px;
    font-weight: bolder;
}
.text p{
    margin: 10px;
    font-size: 17px;
    color: gray;
}
.image img{
    height: 370px;
}
.brand-container{
    display: flex;
    justify-content: space-between;
}
.brand-container a img{
    width: 65%;
    margin: 0px 50px;
}
/* Secound section start here */
.secound-section{
    background-color:  #F9FAFB;
    padding: 70px 0px 70px 0px;
}
.header-shop-container{
    margin: 0px 250px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    border-bottom: 2px solid black;
}
.shop-catagory ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.shop-catagory ul li{
    list-style: none;
    display: flex;
}
.shop-catagory ul li a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    height: 35px;
    line-height: 2.6;
    width: 300px;
    padding-left: 15px;
    font-weight: 600;
    transition: 0.5s;
    font-size: 13px;
    border-radius: 8px;
    background-color: white;
}
.shop-catagory ul li a:hover{
    background-color: #F9FAFB;
}
 
     
/* Third section start here */
.heading-twinty-cards-container{
    margin: 0px 200px;
    padding-top: 30px;
}
.one-card-container img{
    width: 100%;
    height: 220px;
}
.one-card-container img:hover{
    cursor: pointer;
}
.Twinty-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    margin-top: 30px;
}
.one-card-container{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
    transition: 0.3s;
  
}
.one-card-container:hover{
    transform: scale(1.08);
    background-color: rgb(255, 255, 255);
}
.one-card-container h3{
    margin: 10px 0px;
    font-size: 20px;
}
.one-card-container h4{
    color: rgb(97, 93, 93);
}
.one-card-container h2{
    font-size: 30px;
    margin: 10px 0px;
}
.Add-Order-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.Add-Order-container .Add input{
    background-color: #3d76f0;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.Add-Order-container .Add input:hover{
    background-color: #155DFC;
    cursor: pointer;
}
.Add-Order-container .Order input{
    background-color: #12e45f;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.Add-Order-container .Order input:hover{
    background-color: #07ca4f;
    cursor: pointer;
}
.header h4 .blue{
    color: blue;
}
.header h4 .blue:hover{
    border-bottom: 2px solid blue;
}
/* Footer part start here */
.five-column-container{
    margin: 100px 350px 70px 350px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.one-column{
    width: 350px;
}
.one-column img{
    height: 40px;
}
.one-column p{
    margin: 20px 0px;
    line-height: 1.5em;
}
.one-column button{
    padding:20px;
    background-color: rgb(30, 95, 235);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    
}
.one-column button:hover{
    cursor: pointer;
}
.common-column p{
    margin: 20px 0px;
}
.common-column p a{
    text-decoration: none;
    color: black;
}
.common-column p a:hover{
    color: red;
}
.footer-p-icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 350px;
}
.footer-p-icon-container .icon-container{
    display: flex;
    justify-content: space-between;
}
.footer-p-icon-container .icon-container div{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    line-height: 2.8;
}
.footer-p-icon-container .icon-container div i{
    margin-left: 14px;
}



 